<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="executorService"
        class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
        <property name="corePoolSize" value="${executorService.corePoolSize}" />
        <property name="maxPoolSize" value="${executorService.maxPoolSize}" />
        <property name="queueCapacity" value="${executorService.queueCapacity}" />
        <property name="keepAliveSeconds" value="${executorService.keepAliveSeconds}" />
    </bean>

	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup" value="false" />
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">${scheduler.threadCount}</prop>
			</props>
		</property>
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="triggers">
			<list>
				<ref bean="checkIPTaskJobCron" />
			</list>
		</property>
	</bean>
	
	<bean id="checkIPTask" class="com.fastjrun.ddns.task.CheckIPTask">
    </bean>

    <bean id="checkIPTaskJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="checkIPTask" />
        <property name="targetMethod" value="process" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="checkIPTaskJobCron" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="checkIPTaskJob" />
        <property name="cronExpression" value="${checkIPTask.cronExpression}" />
    </bean>
    
    <bean id="ipUtil" class="com.fastjrun.util.impl.IPUtilWithIP138"/>
    
    <bean id="ipUtilWithR6300V2" class="com.fastjrun.util.impl.IPUtilWithR6300V2">
        <property name="adminIP" value="${ipUtilWithR6300V2.adminIP}" />
        <property name="login_authorization" value="${ipUtilWithR6300V2.login_authorization}" />
    </bean>
    <bean id="aliYunUtil" class="com.fastjrun.util.AliYunUtil"
        init-method="init">
        <property name="accessKeyId" value="${aliYunUtil.accessKeyId}" />
        <property name="accessKeySecret" value="${aliYunUtil.accessKeySecret}" />
    </bean>
    <!-- 自动扫描@Service -->
    <context:component-scan base-package="com.fastjrun.ddns.service.impl" />
</beans>